:root {
    --primary: white;
    --secondary: grey;
  
   
  
}

* {
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(194, 184, 184);
    width: 100%;
    height: 100%;
    
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

header{
    color: black;
    font-weight: bold;
    font-size: 40px;
}
.nav-bar{

    display: inline-block;
        margin: 0 30px;
        font-weight: lighter;
        font-size: 22px;
        color: black;
    
}

header nav{
    float: right; 
}

.signup-form {
    border: 3px solid black;
    background-color: rgb(255, 123, 0);
    padding: 20px;
    width: 500px;
    height: 500px;
    color: black;
    align-content: center;
    box-sizing:inherit;
    

}

    

    


footer {
    background-color: rgb(194, 184, 184);
    width: 100%;
    padding-top: 50%;
    text-align: center;
}