<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nike Plus</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
        <div>
          <nav>
            <a class="link" href="/">Home</a>
                    <a href="Login.handlebars">Login</a>
                   
                    <a href="signup.handlebars">Sign Up</a>
              
                </nav>          
        </div>
    </header>
      <div>
        <h2>
        <a href="/">My Posts</a>
        </h2>
      </div>
 
    <div>
      <h2>
        <a href="/">My Comments</a>
      </h2>
      </div>

      <main>
        {{{ body }}}
      </main>

    </div>
  </body>
</html>