<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Plus</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<link rel="stylesheet" href="/stylesheets/style.css"> 
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<div class="wrapper">
    <header class="pb-4">
        <h1 class="has-text-black has-text-weight-bold is-size-2">
            NIKE PLUS <img src="./images/nike-plus.png" alt="addition symbol" height="25" width="25">
        </h1>
        <nav class="navbar mt-2">
            {{#if loggedOn}}
            <a href="/">Home</a>
            <a href="/dashboard">Portfolio</a>
            <button id="logout">Logout</button>
            {{else}}
            <a href="/login" class="navbar-item is-hoverable pt-1">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>
    <footer class="footer rows pb-6">
        <div class="row-is-full content has-text-centered">
            Made By Group 6
        </div>
    </footer>
</div>

{{#if loggedOn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</body>

</html>