<style>
        #map{
            height: 400px;
            width: 100%;
        }
</style>
<h1>My Google Map</h1>
<div id='map'></div>


<script src="javascript/map.js"> </script>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyamGjUpuA5iY8fROsziU7LAgN9XNXud8&callback=initMap&libraries=&v=weekly"
        async
></script>
