
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.new-post-form { 
    border: 3px solid black;
    background-color: rgb(255, 123, 0);
    padding: 20px;
    width: 500px;
    height: 500px;
    color: black;
    align-content: center;
    box-sizing:inherit;
    

}



body{
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(194, 184, 184);
    width: 100%;
    height: 100%;
    
}



header{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.navbar{
    display: inline-block;
    font-size: 22px;
    color: black;
     padding: 10px;
     text-decoration: none;
     background-color: rgb(194, 184, 184);
}

header nav{
    float: right; 
    text-decoration: none;
    color: black;
}

.activities{
    border: 1px solid black;
    color: black;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;


}

.activityform{

    border: 1px solid black;
    color: black;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
}

.signup-form {
    border: 3px solid black;
    background-color: rgb(255, 123, 0);
    padding: 20px;
    width: 500px;
    height: 500px;
    color: black;
    align-content: center;
    box-sizing:inherit;
    
}    

.login-form {
    border: 3px solid black;
    background-color: rgb(252, 164, 0);
    padding: 20px;
    width: 500px;
    height: 500px;
    color: black;
    align-content: center;
    box-sizing:inherit;
    

}

.home-info{
    border: 1px solid black;
    color: black;
    align-content: center;
    box-sizing:inherit;
}

form div {
    border: 1px solid black;
    display:block;
    padding: 7px 7px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 35px;
    
}

.login-form {
    border: 3px solid black;
    background-color: rgb(255, 123, 0);
    padding: 20px;
    width: 500px;
    height: 500px;
    color: black;
    align-content: center;
    box-sizing:inherit;
}

.signup-form {
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: rgb(255, 123, 0);
    padding: 20px;
    width: 500px;
    height: 500px;
    color: black;
    align-content: center;
    box-sizing:inherit;
    font-weight: bold;
}

.post-list {
border:3px solid black;
padding: 20px;
margin: 50px;
color: black;
align-content: center;
box-sizing:inherit;
font-weight: bold;
text-decoration: underline;
}


form div {
    border: 1px solid black;
    display:block;
    padding: 7px 7px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 35px;
    
}

a {
    color: black;
}


.footer {
    background-color: rgb(194, 184, 184);
    width: 100%;
    text-align: center;
}

@media screen and (max-width:980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    .navbar {
        align-items: center;
        display: flex;
    }

    .signup-form{
        align-items: center;
        display: flex;
    }
    
    .login-form{
        align-items: center;
        display: flex;
    }

    .post-list{
        align-items: center;
        display: flex;
    }

    .home-info{
        align-items: center;
        display: flex;
    }

    .activities{
        align-items: center;
        display: flex;
    }

    footer  {
      text-align: center;
      width: 100%
    }

  }